</br>
</br>


<<h1 class="bg-info"><p class="text-center">User Info</p></h1>
<div class="container">
	<ul>
	<li>Name: <%-user.name%></li>
	<li>Lastname: <%-user.lastname%></li>
	<li>Email: <%-user.email%></li>
	<li>age: <%-user.age%></li>
	<li>phone: <%-user.phone%></li>
	<li>address: <%-user.address%></li>
	</ul>
	<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Editar</a>
</div>